<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        .dropbtn {
            background-color: white;
            color: black;
            padding: 10px;
            font-size: 15px;
            border: none;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                .dropdown-content a:hover {
                    background-color: #808080;
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: blue;
        }
    </style>
    <title>@ViewData["Title"] - SWEB_app</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>


    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SWEB_app</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Students" asp-action="Index">Students</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Courses" asp-action="Index">Courses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Teachers" asp-action="Index">Teachers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Enrollments" asp-action="Index">Enrollments</a>
                        </li>
                        <li class="nav-item">

                            <div class="dropdown">
                                <button class="dropbtn">Dropdown</button>
                                <div class="dropdown-content">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="CoursesApi" asp-action="GetCourse">Courses list in JSON</a>

                                    <a class="nav-link text-dark" asp-area="" asp-controller="EnrollmentsApi" asp-action="GetEnrollment">Enrollments list in JSON</a>

                                    <a class="nav-link text-dark" asp-area="" asp-controller="StudentsApi" asp-action="GetStudent">Studentss list in JSON</a>

                                    <a class="nav-link text-dark" asp-area="" asp-controller="TeachersApi" asp-action="GetTeacher">Teachers list in JSON</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()


        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - SWEB_app - <a asp-area="" asp-controller="Students" asp-action="Index">Students</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>

@*<a class="nav-link text-dark" asp-area="" asp-controller="CoursesApi" asp-action="GetCourse">Courses list in JSON</a>

<a class="nav-link text-dark" asp-area="" asp-controller="EnrollmentsApi" asp-action="GetEnrollment">Enrollments list in JSON</a>

<a class="nav-link text-dark" asp-area="" asp-controller="StudentsApi" asp-action="GetStudent">Studentss list in JSON</a>

<a class="nav-link text-dark" asp-area="" asp-controller="TeachersApi" asp-action="GetTeacher">Teachers list in JSON</a>*@

